<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amazonprimeclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MovieDetails"></activity>
        <activity
            android:name=".PipActivity"
            android:allowTaskReparenting="true"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true" />
        <activity android:name=".RegistrationActivity">

        </activity>
        <activity android:name=".SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:allowTaskReparenting="true"
            android:autoRemoveFromRecents="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:taskAffinity=".ui.videodetail.VodDetailActivity"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>